<nav class="navbar navbar-expand-lg ">
  <div class="container justify-content-start">
    <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      class="navbar-brand">
      <img src="../../../assets/img/argentinaPrograma.png" alt="Logo Argentina Programa" width="160" height="90" />
    </a>
    <a href="" class="navbar-brand" style="font-size: 1.5rem">#YoProgramo</a>
  </div>

  <div class="container justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav" me-auto mb-2 mb-lg-0>
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="bi bi-linkedin" style="font-size: 1.5rem; "></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="bi bi-instagram" style="font-size: 1.5rem;"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="bi bi-github" style="font-size: 1.5rem;"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="http://localhost:4200/login" style="font-size: 1.2rem"><i
            class="bi bi-door-open-fill" style="font-size: 1.5rem;"></i>Login</a>
      </li>
    </ul>
  </div>
</nav>
