<div class="container mt-3">
  <div class="card mx-auto" style="width: 800px">
    <div class="card-body">
      <div class="edit-btn">
        <h3 class="card-title">Experiencia.</h3>
        <button class="btn btn-outline-dark m-1">
          <i class="bi bi-pencil"></i>
        </button>
      </div>

      <div class="card mt-3">
        <div class="row g-0 m-3">
          <div class="col-md-3">
            <img src="../../../assets/img/forestLogo.jpg" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <div class="edit-btn">
                <h4 class="card-title">Forest Car.</h4>
                <button class="btn btn-outline-dark m-1">
                  <i class="bi bi-pencil"></i>
                </button>
              </div>

              <div class="edit-btn justify-content-end">
                <button class="btn btn-outline-dark m-1">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
              <h5>Periodo:</h5>
              <h6>Encargado de stock.</h6>
              <p class="card-text">Realización de tareas administrativas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
